@import url('./css/beginning.css');
@import url('./css/scene-1.css');
@import url('./css/final-1.css');
@import url('./css/final-2.css');
@import url('./css/mediaqueries.css');



@font-face {
    font-family: "Comic";
    src:  url('./font/ActionMan.woff2') format('woff2'),
          url('./font/ActionMan.woff') format('woff'),
          url('./font/ActionMan.ttf') format('truetype');
  }


html, body{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family:'Comic';
}


.scroll-x-hidden{
    overflow-x: hidden;
}

.scroll-y-hidden{
    overflow-y: hidden;
}



